@page "/Frameworks"

@inject IJSRuntime JSRuntime
@inject MessageService _message

<Divider Orientation="left"><h3>Frameworks and Libraries</h3></Divider>
<Row>
    <Col Span="24">
        <Carousel Autoplay="TimeSpan.FromSeconds(30)" @ref="_carousel">
            <CarouselSlick>
                <Row>
                    <Col Span="9">
                        <Comment Author="Web"
                                    Avatar="images/netscape.png"
                                    Content="Frameworks"
                                    Datetime="">
                            <Card>
                                <CardGrid Style="width:100%;" Hoverable="true">
                                    <AntList DataSource="@webFrameworks" TItem="ProficiencyItem">
                                        <ListItem>
                                            <ListItemMeta Description=@context.Description>
                                                <TitleTemplate>
                                                    @context.Title
                                                </TitleTemplate>
                                            </ListItemMeta>
                                        </ListItem>
                                    </AntList>
                                </CardGrid>
                            </Card>
                        </Comment>
                    </Col>
                    <Col Span="9">
                        <Comment Author="Web"
                                    Avatar="images/netscape.png"
                                    Content="Libraries"
                                    Datetime="">
                            <Card>
                                <CardGrid Style="width:100%;" Hoverable="true">
                                    <AntList DataSource="@webLibraries" TItem="ProficiencyItem">
                                        <ListItem>
                                            <ListItemMeta Description=@context.Description>
                                                <TitleTemplate>
                                                    @context.Title
                                                </TitleTemplate>
                                            </ListItemMeta>
                                        </ListItem>
                                    </AntList>
                                </CardGrid>
                            </Card>
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="70" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>

            <CarouselSlick>
                <Row>
                    <Col Span="9">
                        <Comment Author="Desktop"
                                    Avatar="images/windows.png"
                                    Content="Frameworks"
                                    Datetime="">
                            <Card>
                                <CardGrid Style="width:100%;" Hoverable="true">
                                    <AntList DataSource="@desktopFrameworks" TItem="ProficiencyItem">
                                        <ListItem>
                                            <ListItemMeta Description=@context.Description>
                                                <TitleTemplate>
                                                    @context.Title
                                                </TitleTemplate>
                                            </ListItemMeta>
                                        </ListItem>
                                    </AntList>
                                </CardGrid>
                            </Card>
                        </Comment>
                    </Col>
                    <Col Span="9">
                        <Comment Author="Desktop"
                                    Avatar="images/windows.png"
                                    Content="Libraries"
                                    Datetime="">
                            <Card>
                                <CardGrid Style="width:100%;" Hoverable="true">
                                    <AntList DataSource="@desktopLibraries" TItem="ProficiencyItem">
                                        <ListItem>
                                            <ListItemMeta Description=@context.Description>
                                                <TitleTemplate>
                                                    @context.Title
                                                </TitleTemplate>
                                            </ListItemMeta>
                                        </ListItem>
                                    </AntList>
                                </CardGrid>
                            </Card>
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="85" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>
        </Carousel>
    </Col>
</Row>
<Row>
    <Col Span="24">
        <div class="button-container">
            <Button Type="primary" OnClick="@( _=>{_carousel.Previous();_message.Success("Previous information slide", 10);})" Size="Large" Shape="@ButtonShape.Round">Previous</Button>
            <Button Type="primary" OnClick="@( _=>{_carousel.Next();_message.Success("Next information slide", 10);})" Size="Large" Shape="@ButtonShape.Round">Next</Button>
        </div>
    </Col>
</Row>

<style>
    .button-container {
        display: flex;
        justify-content: space-between;
        padding-top:4px;
    }
</style>

@code{

    private Carousel _carousel;

    private readonly RenderFragment desktopAvatar = @<Avatar Src="images/windows.png"></Avatar>;
    private readonly RenderFragment webAvatar = @<Avatar Src="images/web.png"></Avatar>;

    private readonly ProficiencyItem[] desktopFrameworks = new ProficiencyItem[]
    {
        new ProficiencyItem("WPF", string.Empty),
        new ProficiencyItem("WinForms", string.Empty),
        new ProficiencyItem("MVVM", string.Empty),
        new ProficiencyItem("Reactive", string.Empty),
    };

     private readonly ProficiencyItem[] desktopLibraries = new ProficiencyItem[]
    {
        new ProficiencyItem("Reactive UI", string.Empty),
        new ProficiencyItem("DevExpress", string.Empty),
        new ProficiencyItem("Aspose", string.Empty),
        new ProficiencyItem("AWS Sdk", string.Empty),
        new ProficiencyItem("Elastic Search .NET/Nest", string.Empty),
        new ProficiencyItem("Component One", string.Empty),
        new ProficiencyItem("HangFire", string.Empty),
        new ProficiencyItem("Crystal Reports", string.Empty),
    };

    private readonly ProficiencyItem[] webLibraries = new ProficiencyItem[]
    {
        new ProficiencyItem("DevExpress", string.Empty),
        new ProficiencyItem("Aspose (Cells, Words)", string.Empty),
        new ProficiencyItem("AWS Sdk", string.Empty),
        new ProficiencyItem("Elastic Search .NET/Nest", string.Empty),
        new ProficiencyItem("Entity Framework Core", string.Empty),
        new ProficiencyItem("Dapper", string.Empty),
        new ProficiencyItem("Reactive UI", string.Empty),
        new ProficiencyItem("Component One", string.Empty),
        new ProficiencyItem("HangFire", string.Empty),
        new ProficiencyItem("Quartz", string.Empty),
        new ProficiencyItem("MessagePack", string.Empty),
        new ProficiencyItem("Elmah", string.Empty),
    };

    private readonly ProficiencyItem[] webFrameworks = new ProficiencyItem[]
    {
        new ProficiencyItem("ASP.NET Core", string.Empty),
        new ProficiencyItem("Blazor", string.Empty),
        new ProficiencyItem("Angular", string.Empty),
        new ProficiencyItem("Reactive", string.Empty),
        new ProficiencyItem("MVC", string.Empty),
        new ProficiencyItem("MVVM", string.Empty),
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JSRuntime.InvokeVoidAsync("highlightSnippets");
    }
}