@page "/ProgrammingLanguages"

@inject IJSRuntime JSRuntime
@inject MessageService _message

<Divider Orientation="left"><h3>Frameworks and Libraries</h3></Divider>
<Row>
    <Col Span="24">
        <Carousel Autoplay="TimeSpan.FromSeconds(30)" @ref="_carousel">
            <CarouselSlick>
                <Row>
                    <Col Span="9">
                        <Comment Author="Web"
                                    Avatar="images/netscape.png"
                                    Content="High"
                                    Datetime="">
                            <Card>
                                <CardGrid Style="width:100%;" Hoverable="true">
                                    <AntList DataSource="@highLanguages" TItem="ProficiencyItem">
                                        <ListItem>
                                            <ListItemMeta Description=@context.Description>
                                                <TitleTemplate>
                                                    @context.Title
                                                </TitleTemplate>
                                            </ListItemMeta>
                                        </ListItem>
                                    </AntList>
                                </CardGrid>
                            </Card>
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="95" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>

            <CarouselSlick>
                <Row>
                    <Col Span="9">
                        <Comment Author="Desktop"
                                    Avatar="images/windows.png"
                                    Content="Medium"
                                    Datetime="">
                            <Card>
                                <CardGrid Style="width:100%;" Hoverable="true">
                                    <AntList DataSource="@mediumLanguages" TItem="ProficiencyItem">
                                        <ListItem>
                                            <ListItemMeta Description=@context.Description>
                                                <TitleTemplate>
                                                    @context.Title
                                                </TitleTemplate>
                                            </ListItemMeta>
                                        </ListItem>
                                    </AntList>
                                </CardGrid>
                            </Card>
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="85" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>

            <CarouselSlick>
                <Row>
                    <Col Span="9">
                        <Comment Author="Desktop"
                                    Avatar="images/windows.png"
                                    Content="Low"
                                    Datetime="">
                            <Card>
                                <CardGrid Style="width:100%;" Hoverable="true">
                                    <AntList DataSource="@lowLanguages" TItem="ProficiencyItem">
                                        <ListItem>
                                            <ListItemMeta Description=@context.Description>
                                                <TitleTemplate>
                                                    @context.Title
                                                </TitleTemplate>
                                            </ListItemMeta>
                                        </ListItem>
                                    </AntList>
                                </CardGrid>
                            </Card>
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="70" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>
        </Carousel>
    </Col>
</Row>
<Row>
    <Col Span="24">
        <div class="button-container">
            <Button Type="primary" OnClick="@( _=>{_carousel.Previous();_message.Success("Previous information slide", 10);})" Size="Large" Shape="@ButtonShape.Round">Previous</Button>
            <Button Type="primary" OnClick="@( _=>{_carousel.Next();_message.Success("Next information slide", 10);})" Size="Large" Shape="@ButtonShape.Round">Next</Button>
        </div>
    </Col>
</Row>

<style>
    .button-container {
        display: flex;
        justify-content: space-between;
        padding-top:4px;
    }
</style>

@code{

    private Carousel _carousel;

    private readonly RenderFragment desktopAvatar = @<Avatar Src="images/windows.png"></Avatar>;
    private readonly RenderFragment webAvatar = @<Avatar Src="images/web.png"></Avatar>;

    private readonly ProficiencyItem[] highLanguages = new ProficiencyItem[]
    {
        new ProficiencyItem("C#", string.Empty),
        new ProficiencyItem("T-SQL", string.Empty),
    };

    private readonly ProficiencyItem[] mediumLanguages = new ProficiencyItem[]
    {
        new ProficiencyItem("TypeScript", string.Empty),
        new ProficiencyItem("Javascript", string.Empty),
    };

    private readonly ProficiencyItem[] lowLanguages = new ProficiencyItem[]
    {
        new ProficiencyItem("GO", string.Empty),
        new ProficiencyItem("Groovy", string.Empty),
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JSRuntime.InvokeVoidAsync("highlightSnippets");
    }
}
